.idea
.vagrant
.DS_Store
.directory
html/assets/*
html/protected/runtime/*
html/uploads/
html/sitemap.xml
html/robofinistorg/uploads/
html/robofinistorg/public/
html/robofinistorg/protected/runtime/*
html/robofinistorg/assets/*
html/robofinistorg/sitemap.xml
html/protected/config/local.php
html/protected/config/develop.php
runtimeSQLexport
pass.txt
dead.letter
.viminfo
.ssh/
.mysql_history
*.bash_history
*.sql
node_modules
html/front/index_old.html
html/front/scripts/common.js
html/front/scripts/common.js.map
html/public/*
front/personal/trash/*
npm-debug.log
/html/apidoc